ul > li {
    color: red;
}

ol li {
    color: green;
}

.parent > h2 {
    color: cyan;
}

.parent > div > h2 {
    color: blueviolet;
}

h1, h3, h4, p {
    color: brown;
}

h3 {
    color: fuchsia;
}
