$white-font-color: white
$span-font-color: blue
$section-ligth-bg-color: #ECEEEF
  
body
  background-color: cadetblue

h1
  color: $white-font-color

span
  color: $span-font-color

.circle
  background-color: darkred
  margin-top: 150px
  margin-left: 150px
  height: 250px
  width: 250px
  border-radius: 50%
  box-shadow: 0 0 9px #333333

.square
  background-color: darkgreen
  margin: auto
  height: 150px
  width: 150px
  border: 1px solid #000000
  box-shadow: 0 0 15px #FFFFFF

.jumbotron
  text-align: center
  background: none

.section-ligth 
  background-color: $section-ligth-bg-color
  padding: 2rem