.jumbotron {
    text-align: center;
    background: none;
}

.section-ligth {
    background-color: #ECEEEF;
    padding: 2rem;
}

.section-dark {
    background-color: #CCCCCC;
    margin-top: 1rem;
    padding: 2rem;
}

.section-two-text {
    font-size: 14px;
}

.cool-stuff-wrapper {
    margin-top: 12px;
}

button.cool-stuff-btn {
    color: #FFFFFF;
    background-color: #FF0000;
    display: block;
    margin: auto;
}

h5.modal-title {
    margin: auto;
}

.form-wrapper {
    padding: 2rem;
}

img.img-center {
    display: block;
    margin: auto;
}

button.btn-center {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 82%;
}

img.img-footer {
    padding: 20px;
}

a.social-link {
    margin: 5px;
}

.fa-facebook-square {
    color: #3B5998;
}
.fa-google-plus-square {
    color: #C32F10;
}

.fa-instagram {
    color: #FFFFFF;
}

.social-wrapper {
    margin: auto;
}