body.sigin-body {
    background-color: #E6F2FF;
}

.container.sigin-container {
    margin-top: 8%;
}

.card.sigin-card {
    padding: 40px 0px 20px;
    background-color: #F4F4F4;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

img.sigin-img {
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    width: 70%;
}

form.sigin-form {
    max-width: 350px;
    margin: auto;
}